@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 480px;
  height: 320px;
  margin: 0;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

.animate-rotate-once {
  animation: rotate-once 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes rotate-once {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
